:root {
  --white: #fff;
  --black: #000;
  --body: #141414;
  --card: #181818;
  --greyText: #808080;

  --transparentGrey: #7777;
  --transparentBlack: #000000bf;

  --red: #e50a13;
  --green: #28db55;
}
